<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbc.demoa.mapper.UserMapper">


    <select id="getAllAdminList" resultType="admin_account">
select * from admin_account
</select>

    <select id="getAdminByName" resultType="admin_account">
select * from admin_account where accountID=#{accountID}
</select>

    <insert id="addAdmin" parameterType="admin_account">
        insert into admin_account (userName,password,phoneNo)values(#{userName},#{password},#{phoneNo})
    </insert>

<!--//获取所有医生账户信息-->
    <select id="getAllDocList" resultType="doc_account">
        select * from doc_account
    </select>

<!--    增加医生账户-->
    <insert id="addDocAccount" parameterType="doc_account">
        insert into doc_account (userName,password,phoneNo)values(#{userName},#{password},#{phoneNo})
    </insert>

<!--    增加医生个人资料(基础)  通过医生账号中的编号-->
    <insert id="addDocBase" parameterType="doctor">
        insert into doctor (daccountNo,phoneNo)values (#{daccountNo},#{phoneNo})
    </insert>

<!--    通过电话在doc_account表中查询id-->
    <select id="getDocIdByPhoneNo" resultType="int" parameterType="String">
        select daccountNo from doc_account where phoneNo = #{phone}
    </select>

<!--    新增病人账户-->
    <insert id="addPatientAccount" parameterType="patient_account">
        insert into patient_account (userName,password,phoneNo)values(#{userName},#{password},#{phoneNo})
    </insert>

<!--    新增病人-->
    <insert id="addPatient" parameterType="patient">
        insert into patient (patientName,phoneNo)values (#{patientName},#{phoneNo})
    </insert>

<!--    查询病人账户编号-->
    <select id="getPatientAccountNoByPhone" resultType="int" parameterType="String">
        select paccountNo from patient_account  where phoneNo = #{phone}
    </select>

<!--    通过电话查询病人id-->
    <select id="getPatientIdByPhone" resultType="int" parameterType="String">
        select patientID from patient where phoneNo = #{phone}
    </select>

<!--    通过电话查询医生id-->
    <select id="getDoctorIdByPhone" resultType="int">
        select doctorID from doctor where phoneNo = #{phone}
    </select>

<!--    向病人账户中添加病人id-->
    <update id="updatePatientAccountPatientIdByPhone" >
        update patient_account set patientID = #{patientId} where phoneNo=#{phone}
    </update>

<!--    向病人添加病人账户-->
    <update id="updatePatientPatientAccountByPhone">
        update  patient set paccountNo =#{patientAccountNo} where  phoneNo=#{phone}
    </update>

<!--   验证管理员账户是否存在，存在是1，不存在是0-->
    <select id="checkAdminAccount" resultType="int" >
        SELECT DISTINCT IF(EXISTS(SELECT 1 FROM admin_account where phoneNo=#{phone} and password =#{password}),1,0) AS a FROM admin_account
    </select>

<!--    同上，验证病人账户-->
    <select id="checkPatientAccount" resultType="int">
        SELECT DISTINCT IF(EXISTS(SELECT 1 FROM patient_account where phoneNo=#{phone} and password =#{password}),1,0) AS a FROM patient_account
    </select>

<!--    同上，验证医生账户-->
    <select id="checkDoctorAccount" resultType="int">
        SELECT DISTINCT IF(EXISTS(SELECT 1 FROM doc_account where phoneNo=#{phone} and password =#{password}),1,0) AS a FROM doc_account
    </select>

<!--    验证管理员账户手机号-->
    <select id="checkAdminPhone" resultType="int">
         SELECT DISTINCT IF(EXISTS(SELECT 1 FROM admin_account where phoneNo=#{phone}),1,0) AS a FROM admin_account
    </select>

<!--    同上，验证医生手机号-->
    <select id="checkDoctorAccountPhone" resultType="int">
         SELECT DISTINCT IF(EXISTS(SELECT 1 FROM doc_account where phoneNo=#{phone}),1,0) AS a FROM doc_account
    </select>

<!--    同上,验证病人手机号-->
    <select id="checkPatientAccountPhone" resultType="int">
         SELECT DISTINCT IF(EXISTS(SELECT 1 FROM patient_account where phoneNo=#{phone}),1,0) AS a FROM patient_account
    </select>

<!--    获取所有病人账号-->
    <select id="getAllPatientAccount" resultType="java.util.Map">
        select paccountNo as num, userName as name,phoneNo as tel,"病患" as tag from patient_account
    </select>

<!--    获取所有医生账号-->
    <select id="getAllDocAccount" resultType="java.util.Map">
        select daccountNo as num,userName as name,phoneNo as tel,"医师" as tag from  doc_account
    </select>

<!--    通过手机号查询医生的详细信息-->
    <select id="getDocDetailInformationByPhone" resultType="java.util.Map" parameterType="String">
        select * from doctor where phoneNo=#{phone}
    </select>

<!--    通过手机号查询病人详细信息-->
    <select id="getPatientDetailInformationByPhone" resultType="java.util.Map" parameterType="String" >
        select * from patient  where phoneNo=#{phone}
    </select>

<!--    接下来多条是删除病人或医生-->

<!--    删除医生-->
    <delete id="deleteDocByPhone">
        delete from  doctor where phoneNo=#{phone}
    </delete>

<!--    删除医生账户-->
    <delete id="deleteDocAccountByPhone">
        delete from doc_account where phoneNo=#{phone}
    </delete>

<!--    删除病人-->
    <delete id="deletePatientByPhone">
        delete  from patient where phoneNo=#{phone}
    </delete>

<!--    删除病人账户-->
    <delete id="deletePatientAccountByPhone">
        delete from patient_account where phoneNo=#{phone}
    </delete>
<!--    上述多条为删除-->

<!--    选出所有医生，用于病人选择-->
    <select id="getAllDoc" resultType="java.util.Map">
        select a.daccountNo as num,a.doctorName as name,d.departmentName as tag,a.phoneNo as tel,"未选" as choose
        from  doctor a ,department d
        where a.departmentNo = d.departmentNo
    </select>

<!--    添加关系-->
    <insert id="insertRelationship">
        insert into doctor_patient_relationship values (#{PatientID},#{DoctorID},#{date})
    </insert>

<!--    添加权限-->
    <insert id="insertRestriction">
        insert into restriction (patientID,doctorID)values(#{PatientID},#{DoctorID})
    </insert>

<!--    通过病人编号查询其选择的医生-->
    <select id="getRelationshipByPatientId" resultType="java.util.Map">
        select doctorID from  doctor_patient_relationship where patientID =#{PatientID}
    </select>

<!--    通过医生编号返回病人选择的医生-->
    <select id="getDocListByDocId" resultType="java.util.Map">
        select a.daccountNo as num,a.doctorName as name,d.departmentName as tag,a.phoneNo as tel
        from  doctor a ,department d
        where a.departmentNo = d.departmentNo and a.doctorID = #{DoctorID}
    </select>

<!--    通过编号修改医生对病人的权限-->
    <update id="updateRelationshipByPatientId">
        update restriction set blood_grant=#{blood} ,tooth_grant=#{tooth}
        where patientID=#{PatientID} and doctorID=#{DoctorID}
    </update>

<!--    通过编号删除病人选择的医生-->
    <delete id="deleteRelationshipByPatientId">
        delete from doctor_patient_relationship
        where patientID=#{PatientID} and doctorID=#{DoctorID}
    </delete>

<!--    通过编号删除病人选择医生的权限-->
    <delete id="deleteRestrictionByPatientId">
        delete from restriction
        where patientID=#{PatientID} and doctorID=#{DoctorID}
    </delete>

<!--    通过医生手机号修改医生的个人信息-->
    <update id="updateDocDetail" parameterType="java.util.HashMap">
        update doctor
        set
        sex=#{sex},
        address=#{address},
        birthday=#{birthday},
        introduction=#{introduction},
        expertise=#{expertise},
        achievements=#{achievements},
        nationality=#{nationality},
        nation = #{nation},
        college=#{college},
        nativePlace=#{nativePlace},
        works = #{works},
        evaluation=#{evaluation}
        where phoneNo=#{phoneNo}

    </update>
</mapper>